.commentbox-page{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentbox-box{
    width: 90%;
    max-width: 42rem;
    background-color: aliceblue;
    border-radius: 1.2rem;
    height: 90%;
    max-height: 48rem;
    padding: 1.2rem;
    box-sizing: border-box;
    animation: fadeUp 200ms;
    padding-bottom: 3.6rem;
}

.commentbox-comments-container{
    display: flex;
    flex-direction: column;
    height: calc(80% - 2.4rem);
    overflow-y: scroll;
    margin-top: 1.2rem;
}

.commentbox-textarea-wrapper{
    width: 100%;
    height: 6rem;
    resize: none;
    margin-top: 1.8rem;
}

.commentbox-textarea-wrapper > textarea{
    position: relative;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 0.4rem;
    box-sizing: border-box;
    border-radius: 0.4rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 0;
}

.commentbox-icon{
    font-size: 1.6rem;
    cursor: pointer;
}

.commentbox-post-button{
    width: fit-content;
    color: aliceblue;
    background-color: purple;
    text-align: center;
    padding: 0.4rem 0.8rem;
    margin-left: auto;
    margin-right: 0;
    margin-top: 0.4rem;
    font-weight: bold;
    font-size: 1.4rem;
    border-radius: 0.4rem;
    cursor: pointer;
}

@keyframes fadeUp {
    from{
        margin-top: 100%;
        opacity: 0;
    }to{
        margin-top: 0;
        opacity: 1;
    }
}