.picker-page{
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.picker-outer{
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: aliceblue;
    border-radius: 1.2rem;
    padding: 2rem 1.2rem;
    text-align: center;
    padding-bottom: 1rem;
    width: 80%;
    max-width: 41rem;
    animation: swipeUp 0.15s ease-in-out forwards; /* Apply the animation */
}

.date-validity > p{
  padding-bottom: 1.2rem;
  font-size: 1.4rem;
  color: red;
  font-weight: bold;
}

@keyframes swipeUp {
  from {
    transform: translateX(-50%) translateY(100%); /* Start from below the screen */
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    transform: translateX(-50%) translateY(-50%); /* End at desired position */
    opacity: 1; /* Fully visible */
  }
}

.picker-inputs{
    display: flex;
    justify-content: space-around;
    margin: 2.4rem 0;
}

.picker-inputs > input{
    width: 7rem;
    border: 0;
    outline: 0;
    text-align: center;
    font-size: 2rem;
    border-bottom: 1px dashed gray;
    color: black;
}

.picker-button{
    background-color: purple;
    color: white;
    padding: 1.2rem;
    font-size: 1.6rem;
    font-weight: bold;
    border-radius: 1.2rem;
    transition: 200ms;
}

.picker-button:hover{
    cursor: pointer;
    background-color: rgb(116, 0, 116);
    transition: 200ms;
}