.edit-profile-page{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-outer{
    width: 90%;
    max-width: 40rem;
    height: fit-content;
    background-color: aliceblue;
    border-radius: 1.4rem;
    padding: 1.2rem;
    box-sizing: border-box;
    padding-bottom: 1.6rem;
    padding-top: 1.6rem;
}

.edit-profile-form{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;
}

.edit-profile-form-label{
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 0.4rem;
}

.edit-profile-textarea{
    width: 100%;
    height: 8rem;
    border-radius: 0.4rem;
    resize: none;
    font-size: 1.4rem;
    padding: 0.4rem;
    box-sizing: border-box;
    outline: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 0;
    background-color: rgb(227, 227, 227);
}

.edit-profile-input{
    width: 100%;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    padding: 0.4rem;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: 0;
    border: 0;
    background-color: rgb(227, 227, 227);
}

.edit-profile-buttons{
    display: flex;
    font-size: 1.6rem;
    gap: 0.4rem;
}

.edit-profile-save{
    background-color: purple;
    color: white;
    font-weight: bold;
    flex: 1;
    text-align: center;
    padding: 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 200ms;
}

.edit-profile-cancel{
    background-color: rgb(219, 219, 219);
    font-weight: bold;
    flex: 1;
    text-align: center;
    text-align: center;
    padding: 0.8rem;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: 200ms;
}

.edit-profile-save:hover, .edit-profile-cancel:hover{
    transform: scale(1.02);
    transition: 200ms;
}