@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lilita+One&family=Sacramento&display=swap');


.navbar-outer {
     background-color: transparent; 
    /*background-color: rgb(29, 0, 29);*/
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 28rem;
    z-index: 10000;
}

.navbar-bg{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 28rem;
    z-index: -1;
    object-fit: contain;
    filter: brightness(0.4);
    background-size: 200% 200%;
}

.navbar-bg > img {
    object-fit: cover;
    animation: bgAnimation 200s linear infinite;
    background-size: 200% 200%;
}



@keyframes navbarAnimation {
    0%{
        background-position: 40% 40%;
        transform: rotate(0deg);
    }50%{
        background-position: 60% 60%;
        transform: rotate(360deg);
    }100%{
        background-position: 40% 40%;
        transform: rotate(0deg);
    }
}

.navbar-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-logo > a{
    transition: 200ms;
}

.navbar-logo > a:hover{
    transform: scale(1.1);
    transition: 200ms;
}

.navbar-logo > a{
    text-decoration: none !important;
    color: white;
    font-size: 2.4rem;
    margin-top: 3.2rem;
    font-family: 'Sacramento', cursive;

}

.navbar-links{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.navbar-links > a{
    color: white;
    font-size: 1.8rem;
    text-decoration: none;
    font-weight: bold;
    margin-top: 3.6rem;
    display: flex;
    transition: 200ms;
}

.navbar-links > a:hover{
    transform: scale(1.1);
    transition: 200ms;
}

.navbar-icon{
    margin-right: 0.8rem;
}

.active{
    transform: scale(1.1);
}

.never-active{
    background-color: transparent !important;
    transform: scale(1) ;
    font-weight: normal !important;
}

@media screen and (min-width: 451px) and (max-width: 1360px) {
    .navbar-outer {
        width: 6rem;
    }
    .navbar-bg{
        width: 6rem;
    }
    .navbar-text{
        display: none;
    }
    .navbar-logo > a{
        font-size: 1.2rem;
        margin-top: 1.6rem;
    }
    .navbar-links{
        margin-top: -1.2rem;
        justify-content: center;
    }
    .navbar-icon{
        margin: 0;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 450px) {
    .navbar-outer {
        position: fixed;
        bottom: -2px;
        top: auto;
        width: 100%;
        height: 6rem;
        background-color: rgb(32, 0, 41);
    }
    .navbar-bg{
        position: fixed;
        bottom: 0;
        top: auto;
        width: 100%;
        height: 6rem;
    }
    .navbar-logo{
        display: none;
    }
    .navbar-links{
        margin-top: 0;
        top: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .navbar-links > a{
        display: flex;
        align-items: center;
        height: 6rem;
        font-size: 2.3rem;
        top: 0;
        margin-top: 0;
    }
    .navbar-text{
        display: none;
    }
}
