.tab-loader-outer{
    width: 100%;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    position: relative;
}

.tab-loader-box{
    width: 4rem;
    height: 4rem;
    background-color: aliceblue;
    border-radius: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab-loader-spinner {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, rgb(235, 100, 235) 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, rgb(235, 100, 235));
    mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
    animation: s3 1s infinite linear;
}

@keyframes s3 {
    100% {
        transform: rotate(1turn)
    }
}
