.zodiac-page{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.zodiac-tab{
    padding: 1.2rem;
    background-color: aliceblue;
    border-radius: 1.2rem;
    width: 30rem;
    margin-top: 12rem;
    height: fit-content;
}

.zodiac-tab > p{
    font-size: 2.4rem;
    font-weight: bold;
    text-align: center;
}

.outer-select{
    width: 100%;
    position: relative;
}

.zodiac-select-header{
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 0.6rem 1.2rem; 
    border-radius: 0.8rem;
    align-items: center;
    font-weight: bold;
    box-sizing: border-box;
    margin-top: 1.2rem;    
    background-color: rgb(168, 0, 168);
    cursor: pointer;
    color: aliceblue;
}


.zodiac-dd{
    font-size: 1.8rem;
    text-align: center;
    background-color: rgb(242, 192, 255);
    border-radius: 0.8rem;
    padding: 0.4rem 0;
    position: absolute;
    width: 100%;
    z-index: 999;
    border-top: 0.2rem solid aliceblue;
}

.zodiac-dd > p{
    padding: 0.8rem 0;
    box-sizing: border-box;
    font-weight: bold;
    color: white;
}

.zodiac-dd > p:hover{
    background-color: rgb(227, 158, 241);
    cursor: pointer;
}

.zodiac-submit-button{
    width: 100%;
    margin: 0.4rem auto;
    background-color: purple;
    color: white;
    font-size: 1.6rem;
    margin-top: 1.2rem;
    height: 3.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    font-weight: bold;
    transition: 200ms;
}

.zodiac-submit-button:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 200ms;
}

@media screen and (max-height: 820px) {
    .zodiac-tab{
        margin-top: 6.4rem;
    }
    .zodiac-dd > p{
        padding: 0.4rem 0;
    }
}
