.adminpage-heading{
    color: white;
    margin-top: 4.2rem;
    font-size: 2.8rem;
}

.adminpage-heading-p{
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 2.4rem;
}

.rep-user-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.4rem;
    margin-top: 1.6rem;
}

.rep-posts-container{
    gap: 0.4rem;
    display: grid;
    margin-top: 1.6rem;
    grid-template-columns: repeat(2, 1fr);    
}

@media screen and (max-width: 768px) {
    .rep-user-card-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .rep-posts-container{
        grid-template-columns: repeat(1, 1fr);    
    }
}

.admin-mail{
    all: unset;
    background-color: white;
    font-size: 1.6rem;
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: 1px solid black;
}

.add-admin-button{
    color: black;
    cursor: pointer;
    padding: 0.4rem;
    border-radius: 0.4rem;
    margin-top: 0.4rem;
    font-weight: bold;
    width: fit-content;
    font-size: 1.4rem;
    background-color: white;
}