@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Lilita+One&family=Sacramento&display=swap');


.home-page{
    display: flex;
    width: 100%;
}

.home-greeting{
    margin-top: 5.6rem;
    font-size: 3.6rem;

    animation: greetingAnimation 6s ease-in-out infinite;
}

.save-day{
    color: rgb(255, 199, 255);
    cursor: pointer;
    transition: 200ms;
    width: fit-content;
    margin-top: 0.4rem;
}

.save-day:hover{
    transition: 200ms;
    transform: scale(1.05);
}

@keyframes greetingAnimation {
    0%{
        color: rgb(235, 100, 235);
    }50%{
        color: rgb(210, 50, 210);
    }100%{
        color: rgb(235, 100, 235);
    }
}

.home-quote-block{
    margin-top: 3.2rem;
    width: 100%;
    border-radius: 1.2rem;
    background-color: aliceblue;
    padding: 1.2rem;
    box-sizing: border-box;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5);
}

.home-quote-block-heading{
    font-size: 1.6rem;
    font-weight: bold;
}

.home-quote-block-quote{
    font-size: 2.4rem;
    font-family: 'Sacramento', cursive;
    font-weight: bold;
    margin-top: 1.2rem;
    text-align: center;

    background: linear-gradient(90deg , rgb(235, 100, 235), rgb(126, 22, 118), purple);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: headingAnimation 6s linear infinite;
}

@keyframes headingAnimation {
    to {
        background-position: 200% center;
    }
}
.home-quote-block-author{
    text-align: right;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 0.4rem;
}

.home-moon-horoscope-section{
    height: fit-content;
    margin-top: 1.2rem;
    display: flex;
}

.ver-divider{
    width: 1.2rem;
}

.home-moon-section{
    height: auto;
    border-radius: 1.2rem;
    background-color: aliceblue;
    padding: 1.2rem;
    box-sizing: border-box;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5);
    flex: 2;
    

}

.moon-image-wrapper{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    contain: content;
}

.moon-img{
    height:80%;
}

.home-horoscope-section{
    height: fit-content;
    border-radius: 1.2rem;
    background-color: aliceblue;
    padding: 1.2rem;
    box-sizing: border-box;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5);
    font-size: 1.4rem;
    padding-bottom: 1.6rem;
    flex: 1;
}

.home-horoscope-date-window{
    display: flex;
    flex-direction: column;
}

.home-horoscope-date-first-row{
    display: flex;
    justify-content: space-between;
    color: purple;
    margin-top: 1.2rem;
    padding: 0 0.0rem;
    font-size: 1.4rem;
}

.home-horoscope-date-first-row > p{
    border: 1px transparent solid;
    transition: 100ms;
}

.home-horoscope-date-first-row > p:hover{
    cursor: pointer;
    font-weight: bold;
    transition: 100ms;
}

.home-horoscope-date-second-row{
    margin-top: 0.6rem;
    color: purple;
}

.home-horoscope-text{
    margin-top: 0.2rem;
    padding: 0 0.6rem;
    text-align: center;

    contain: content;
}

.selectedHorDay{
    font-weight: bold;
}

.stars-image-wrapper{
    object-fit: contain;
    width: 100%;
    margin-top: 1.2rem;
    border-radius: 1.2rem;
    contain: content;
}

.stars-img{
    object-fit: contain;
    max-width:100%; 
    max-height:100%;
    width: 100%;
    border-radius: 1.2rem;
}

.home-stars-apod-section{
    display: flex;
    margin-top: 1.2rem;
    flex-direction: column;
}

.home-stars-section{
    flex: 1;
}

.home-apod-section{
    flex: 1;
}

.nasa-photo-text-container{
    display: flex;
    height: 100%;
    contain: content;
}

.nasa-photo-wrapper{
    flex: 1;
    object-fit: contain;
    margin-top: 1.2rem;
}

.nasa-photo-wrapper > img{
    object-fit: contain;
    max-width:100%; 
    max-height:100%;
    border-radius: 1.2rem;
    
}

.nasa-photo-text{
    flex: 3;
    margin-top: 1.2rem;
}

.nasa-photo-p{
    font-size: 1.4rem;
}

.nasa-photo-desc{
    margin-top: 0.4rem;
}

.home-stars-section{
    margin-top: 1.2rem;
}

@media screen and (max-width: 450px) {
    .home-page{
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .home-moon-horoscope-section{
        flex-direction: column;
    }
    .ver-divider{
        width: 100%;
        height: 1.2rem;
    }
    .nasa-photo-text-container{
        flex-direction: column;
    }
    .home-greeting{
        text-align: center;
    }
    .save-day{
        text-align: center;
        margin-top: 1.2rem;
        margin-left: auto;
        margin-right: auto;       
    }
    .home-moon-section{
        min-height: 0rem;
    }
    .home-horoscope-section{
        min-height: 0rem;
    }
}

@media screen and (max-width: 1150px) and (min-width: 750px) {
    .home-moon-section{
        flex: 1;
    }
    .moon-img{
        height: 70%;
    }
}