.login-page{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100vh;
    z-index: 10001;
    background-color: aliceblue;
    position: absolute;
}

.login-container{
    height: 70rem;
    width: 70rem;
    display: flex;
}

.login-container-left{
    width: 100%;
    text-align: left;
    padding: 1.6rem;
    box-sizing: border-box;
    border-radius: 1.2rem;
    contain: content;
    display: flex;
    flex-direction: column;
}

.login-container-left-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: -1.6rem;
    margin-left: -1.6rem;
    z-index: -100 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: brightness(0.4);
}

.login-container-left-bg > img {
    width: 300%;
    margin: 0 auto;
    animation: loginBgRotation 200s linear infinite;
}

@keyframes loginBgRotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.login-container-left > h1{
    background: linear-gradient(90deg , rgb(255, 166, 255), rgb(207, 0, 190), purple);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: headingAnimation 6s linear infinite;
    font-size: 5.6rem;
}

.login-container-left > p{
    color: rgb(255, 183, 255);
    font-size: 1.6rem;
}


@keyframes headingAnimation {
    to {
        background-position: 200% center;
    }
}

.login-container-right {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
  
.login-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.2rem;
    transition: 200ms;
}
  
.login-image:hover{
    transform: scale(1.02);
    transition: 120ms;
}

.divider{
    width: 4rem;
}

.google-btn-login{
    width: 100% !important;
    margin-top: auto;
    margin-bottom: 0;
    border-radius: 0.4rem !important;
}

.cookie-info{
    margin-bottom: 1.2rem;
    margin-top: 1.6rem;
    font-size: 1.2rem !important;
}

@media screen and (max-width: 768px) {
    .login-container{
        flex-direction: column;
        height: fit-content;
        padding: 1.2rem;
        align-items: center;
        justify-content: center;
    }
    .login-container-right {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.6rem;
        margin-top: 0.6rem;
      }
      .google-btn-login{
        margin-top: 1.6rem;
        }
        .divider{
            width: 0;
        }
}

@media screen and (max-height: 895px) and (max-width: 768px) {
    .login-grid-element:nth-last-child(-n+3){
        display: none;
    }
}

@media screen and (max-height: 715px) and (max-width: 768px) {
    .login-container-right{
        display: none;
    }
}

@media screen and (max-height: 715px) and (min-width: 768px) {
    .login-container{
        height: 64rem;
    }
}