.profile-page{
    display: flex;
    width: 100%;
}

.profile-info{
    width: 100%;
    border-radius: 1.2rem;
    background-color: aliceblue;
    padding: 2rem;
    box-sizing: border-box;
    box-shadow: 3px 3px 15px 0px rgba(0,0,0,0.5);
    margin-top: 5.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    contain: content;
}

.edit-icon{
    position: absolute;
    font-size: 1.4rem;
    color: purple;
    right: 0;
    top: 0;
    margin-top: 1.2rem;
    margin-right: 1.2rem;
    cursor: pointer;
}

.profile-info-photo-name{
    display: flex;
    align-items: center;
}

.profile-info-photo-name > img{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.profile-info-photo-name > h1{
    margin-left: 2.4rem;
    font-size: 3.6rem;;
    background: linear-gradient(90deg , rgb(235, 100, 235), rgb(126, 22, 118), purple);
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: headingAnimation 6s linear infinite;
}

@keyframes headingAnimation {
    to {
        background-position: 200% center;
    }
}

.profile-stats{
    font-size: 1.6rem;
    display: flex;
    width: 32rem;
    justify-content: space-evenly;
    font-weight: bold;
    margin-top: 1.2rem;
}

.profile-info > p{
    margin-top: 1.2rem;
    font-size: 1.4rem;
}

.profile-buttons{
    display: flex;
    margin-top: 0.8rem;
    width: 32rem;
    gap: 0.4rem;
}

.follow-button{
    width: 100%;
    border-radius: 0.8rem;
    background-color: purple;
    flex: 1;
    cursor: pointer;
}
.follow-button > p{
    padding: 0.6rem;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    font-size: 1.4rem;
}

.logout-button{
    flex: 1;
    width: 100%;
    border-radius: 0.8rem;
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

.logout-button > p{
    padding: 0.6rem;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;}

.profile-content{
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
}

.profile-content-container{
    width: 100%;
    background-color: aliceblue;
    border-radius: 1.2rem 1.2rem 1.2rem 1.2rem;
    height: fit-content;
    display: flex;
    padding: 1.2rem;
    box-sizing: border-box;
    flex-direction: column;
}

.profile-tab-selection{
    display: flex;
    margin-left: 2.4rem;
}

.profile-tab{
    color: purple;
    font-size: 1.4rem;
    font-weight: normal;
    background-color: rgb(210, 210, 210);
    border-radius: 1.2rem 1.2rem 0 0;
    padding: 0.4rem 1.2rem;
    cursor: pointer;
}

.active-tab{
    background-color: aliceblue;
    font-weight: bold;
}

.profile-wall{
    height: fit-content;
    width: 100%;
    padding: 1.2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.post-file-input{
    border: 1px solid red;
    position: absolute;
    width: 11rem;
    margin-top: -2rem;
    margin-left: -0.2rem;
    opacity: 0;
    z-index: 99;
}

.no-opacity{
    opacity: 1;
    background-color: transparent;
    border: 0;
    outline: 0;
    color: white;
    cursor: pointer;
}

.post-file-input:hover{
    cursor: pointer;
}

.profile-add-post{
    border-radius: 1.2rem;
    height: 12rem;
}

.profile-add-post > textarea{
    width: 100%;
    height: 8rem;
    resize: none;
    border-radius: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0.8rem;
    box-sizing: border-box;
    font-size: 1.4rem;
    outline: 0;
    border: 1px solid rgb(182, 182, 182);
}

.profile-add-buttons{
    display: flex;
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: 0;
    width: 100%;
    justify-content: flex-end;
    margin-top: 0.4rem;
}

.profile-attach-file-button{
    background-color: rgb(219, 219, 219);
    padding: 0.6rem;
    border-radius: 0.4rem;
    margin-right: 0.4rem;
    cursor: pointer;
    transition: 200ms;
}

.profile-post-button{
    background-color: purple;
    padding: 0.6rem;
    cursor: pointer;
    color: white;
    border-radius: 0.4rem;
    transition: 200ms;
}

.profile-attach-file-button:hover, .profile-post-button:hover{
    transform: scale(1.04);
    transition: 200ms;
}

@media screen and (max-width: 768px){
    
}

.no-day-message{
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    padding: 1.2rem 0;
}